.title {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    color: rgb(240, 80, 80);
    margin: 33.5px auto 0;
}

.image {
    display:block;
    width: auto;
    height: 500px;
    margin: 33.5px auto 0;
}

body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

.list-inline li {
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

ul {
    padding-inline-start: 0;
    padding-right: 35px;
}


.title-sfr, .title-oo, .title-p {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.sfr {
    background-color: rgb(202, 114, 78);
    color: rgb(80, 240, 226);
}

.oo {
    background-color: lightblue;
    color: rgb(206, 68, 68);
}

.p {
    background-color: wheat;
    color: rgb(67, 141, 106);
}